WebContent/WEB-INF/wsdl/KnMainService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-hudson-390-. -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://test.whl.kn.com/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="KnMainService" targetNamespace="http://test.whl.kn.com/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://test.whl.kn.com/" schemaLocation="KnMainService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getName">
    <part element="tns:getName" name="parameters"/>
  </message>
  <message name="getNameResponse">
    <part element="tns:getNameResponse" name="parameters"/>
  </message>
  <message name="getServiceVersion">
    <part element="tns:getServiceVersion" name="parameters"/>
  </message>
  <message name="getServiceVersionResponse">
    <part element="tns:getServiceVersionResponse" name="parameters"/>
  </message>
  <message name="getServiceTime">
    <part element="tns:getServiceTime" name="parameters"/>
  </message>
  <message name="getServiceTimeResponse">
    <part element="tns:getServiceTimeResponse" name="parameters"/>
  </message>
  <portType name="KnMainDelegate">
    <operation name="getName">
      <input message="tns:getName"/>
      <output message="tns:getNameResponse"/>
    </operation>
    <operation name="getServiceVersion">
      <input message="tns:getServiceVersion"/>
      <output message="tns:getServiceVersionResponse"/>
    </operation>
    <operation name="getServiceTime">
      <input message="tns:getServiceTime"/>
      <output message="tns:getServiceTimeResponse"/>
    </operation>
  </portType>
  <binding name="KnMainPortBinding" type="tns:KnMainDelegate">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getName">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getServiceVersion">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getServiceTime">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="KnMainService">
    <port binding="tns:KnMainPortBinding" name="KnMainPort">
      <soap:address location="http://localhost:8080/KnService/KnMainPort"/>
    </port>
  </service>
</definitions>
